mixin menu(data)
    .menu
        nav.menu__nav
            ul.menu__list
                li.menu__item.js-has-submenu
                    a(href="#").menu__link.menu__link--icon Мальчики
                    .menu__sub-wrapper.js-menu-container
                        .container
                            .row.justify-content-center.justify-content-xl-between
                                .col-xl-3
                                    span.menu__title Одежда
                                    ul.menu__sub
                                        li.menu__item-second
                                            a(href="#").menu__link-second Верхняя одежда
                                        li.menu__item-second
                                            a(href="#").menu__link-second Комбинезоны, полукомбинезоны
                                        li.menu__item-second
                                            a(href="#").menu__link-second Куртки, ветровки, плащи, пальто
                                        li.menu__item-second
                                            a(href="#").menu__link-second Пиджаки, жилеты
                                        li.menu__item-second
                                            a(href="#").menu__link-second Джинсы, брюки, шорты
                                        li.menu__item-second
                                            a(href="#").menu__link-second Джемперы, кардиганы, жилеты
                                .col-xl-3
                                    ul.menu__sub
                                        li.menu__item-second
                                            a(href="#").menu__link-second Комбинезоны
                                        li.menu__item-second
                                            a(href="#").menu__link-second Рубашки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Толстовки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Футболки, майки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Головные уборы, шарфы, перчатки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Чулочно-насочные изделия
                                .col-xl-3
                                    span.menu__title Обувь
                                    ul.menu__sub
                                        li.menu__item-second
                                            a(href="#").menu__link-second Ботинки, полуботинки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Комбинезоны, полукомбинезоны
                                        li.menu__item-second
                                            a(href="#").menu__link-second Кеды, кроссовки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Сандалии
                                        li.menu__item-second
                                            a(href="#").menu__link-second Сапоги, полусапоги
                                        li.menu__item-second
                                            a(href="#").menu__link-second Джемперы, кардиганы, жилеты
                                    a(href="#")
                                        span.menu__title Аксессуары
                                .col-xl-3
                                    .menu__last-list
                                        span.menu__title Возвраст
                                        ul.menu__sub
                                            li.menu__item-second
                                                a(href="#").menu__link-second Мальчики 9 мес - 3 года
                                            li.menu__item-second
                                                a(href="#").menu__link-second Мальчики 4-12 лет
                                        span.menu__title Теги
                                        ul.menu__tags.tags
                                            li.tags__item.tags__item--green
                                                span весна 2018
                                            li.tags__item.tags__item--yellow
                                                span любимые герои
                                            li.tags__item.tags__item--pink
                                                span новинка
                                            li.tags__item.tags__item--blue
                                                span лето 2018
                                            li.tags__item.tags__item--red
                                                span хит продаж

                li.menu__item.js-has-submenu
                    a(href="#").menu__link.menu__link--icon Девочки
                    .menu__sub-wrapper.js-menu-container
                        .container
                            .row.justify-content-xl-between
                                .col-xl-3
                                    span.menu__title Одежда
                                    ul.menu__sub
                                        li.menu__item-second
                                            a(href="#").menu__link-second Верхняя одежда
                                        li.menu__item-second
                                            a(href="#").menu__link-second Комбинезоны, полукомбинезоны
                                        li.menu__item-second
                                            a(href="#").menu__link-second Куртки, ветровки, плащи, пальто
                                        li.menu__item-second
                                            a(href="#").menu__link-second Пиджаки, жилеты
                                        li.menu__item-second
                                            a(href="#").menu__link-second Джинсы, брюки, шорты
                                        li.menu__item-second
                                            a(href="#").menu__link-second Джемперы, кардиганы, жилеты
                                .col-xl-3
                                    ul.menu__sub
                                        li.menu__item-second
                                            a(href="#").menu__link-second Комбинезоны
                                        li.menu__item-second
                                            a(href="#").menu__link-second Рубашки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Толстовки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Футболки, майки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Головные уборы, шарфы, перчатки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Чулочно-насочные изделия
                                .col-xl-3
                                    span.menu__title Обувь
                                    ul.menu__sub
                                        li.menu__item-second
                                            a(href="#").menu__link-second Ботинки, полуботинки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Комбинезоны, полукомбинезоны
                                        li.menu__item-second
                                            a(href="#").menu__link-second Кеды, кроссовки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Сандалии
                                        li.menu__item-second
                                            a(href="#").menu__link-second Сапоги, полусапоги
                                        li.menu__item-second
                                            a(href="#").menu__link-second Джемперы, кардиганы, жилеты
                                    a(href="#")
                                        span.menu__title Аксессуары
                                .col-xl-3
                                    .menu__last-list
                                        span.menu__title Возвраст
                                        ul.menu__sub
                                            li.menu__item-second
                                                a(href="#").menu__link-second Мальчики 9 мес - 3 года
                                            li.menu__item-second
                                                a(href="#").menu__link-second Мальчики 4-12 лет
                                        span.menu__title Теги
                                        ul.menu__tags.tags
                                            li.tags__item.tags__item--green
                                                span весна 2018
                                            li.tags__item.tags__item--yellow
                                                span любимые герои
                                            li.tags__item.tags__item--pink
                                                span новинка
                                            li.tags__item.tags__item--blue
                                                span лето 2018
                                            li.tags__item.tags__item--red
                                                span хит продаж

                li.menu__item.js-has-submenu
                    a(href="#").menu__link.menu__link--icon Новорожденные
                    .menu__sub-wrapper.js-menu-container
                        .container
                            .row.justify-content-xl-between
                                .col-xl-3
                                    span.menu__title Одежда
                                    ul.menu__sub
                                        li.menu__item-second
                                            a(href="#").menu__link-second Верхняя одежда
                                        li.menu__item-second
                                            a(href="#").menu__link-second Комбинезоны, полукомбинезоны
                                        li.menu__item-second
                                            a(href="#").menu__link-second Куртки, ветровки, плащи, пальто
                                        li.menu__item-second
                                            a(href="#").menu__link-second Пиджаки, жилеты
                                        li.menu__item-second
                                            a(href="#").menu__link-second Джинсы, брюки, шорты
                                        li.menu__item-second
                                            a(href="#").menu__link-second Джемперы, кардиганы, жилеты
                                .col-xl-3
                                    ul.menu__sub
                                        li.menu__item-second
                                            a(href="#").menu__link-second Комбинезоны
                                        li.menu__item-second
                                            a(href="#").menu__link-second Рубашки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Толстовки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Футболки, майки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Головные уборы, шарфы, перчатки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Чулочно-насочные изделия
                                .col-xl-3
                                    span.menu__title Обувь
                                    ul.menu__sub
                                        li.menu__item-second
                                            a(href="#").menu__link-second Ботинки, полуботинки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Комбинезоны, полукомбинезоны
                                        li.menu__item-second
                                            a(href="#").menu__link-second Кеды, кроссовки
                                        li.menu__item-second
                                            a(href="#").menu__link-second Сандалии
                                        li.menu__item-second
                                            a(href="#").menu__link-second Сапоги, полусапоги
                                        li.menu__item-second
                                            a(href="#").menu__link-second Джемперы, кардиганы, жилеты
                                    a(href="#")
                                        span.menu__title Аксессуары
                                .col-xl-3
                                    .menu__last-list
                                        span.menu__title Возвраст
                                        ul.menu__sub
                                            li.menu__item-second
                                                a(href="#").menu__link-second Мальчики 9 мес - 3 года
                                            li.menu__item-second
                                                a(href="#").menu__link-second Мальчики 4-12 лет
                                        span.menu__title Теги
                                        ul.menu__tags.tags
                                            li.tags__item.tags__item--green
                                                span весна 2018
                                            li.tags__item.tags__item--yellow
                                                span любимые герои
                                            li.tags__item.tags__item--pink
                                                span новинка
                                            li.tags__item.tags__item--blue
                                                span лето 2018
                                            li.tags__item.tags__item--red
                                                span хит продаж

                li.menu__item
                    a(href="#").menu__link Распродажа
                li.menu__item
                    a(href="#").menu__link Мишка playtoday
                li.menu__item
                    a(href="#").menu__link Пляжная одежда
                li.menu__item
                    a(href="#").menu__link В школу
