mixin promo()
    .promo
        .container
            ul.promo__slider.js-promo-slider
                li.promo__slide
                    img(src="%=static=%img/general/promo-first-img.png")
                li.promo__slide
                    img(src="%=static=%img/general/promo-baby.png")
