doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/promo/promo.pug
    include ../components/modal-location/modal-location.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        .home-header
            +header()
            +promo()
        section.page__wrapper

            //- Include your components here


            .page__buffer

        .page__footer
            +footer()
        +modal-location()
        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')

