doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/promo/promo.pug
    include ../components/modal-location/modal-location.pug
    include ../components/banners/banners.pug
    include ../components/novelties/novelties.pug
    include ../components/subscribe/subscribe.pug
    include ../components/footer/footer.pug
    include ../components/choose-size/choose-size.pug
    include ../components/add-cart/add-cart.pug
    include ../components/slider-large/slider-large.pug
    include ../components/product-info/product-info.pug
    include ../components/some-products/some-products.pug
    include ../components/reviews/reviews.pug

    head
        +head(head.defaults)

    body.page
        +header()
        .single-product
            .container
                .row
                    .col-lg-7
                        +slider-large()
                    .col-lg-5
                        +product-info()
            +some-products()
            +reviews()

        +subscribe()
        +footer()
        //- Main scripts. You can replace it, but I recommend you to leave it here
        +modal-location()
        +choose-size()
        +add-cart
        script(src='%=static=%js/main%=hash=%.js')
