// Common styles of the project

html, body {
    height: 100%;
    font: 16px/1.5 'Roboto Condensed', Arial sans-serif;
    color: #000;
}
.home-header {
    background-color: #F0F3F9;
}
.position-static {
    position: static;
}
img {
    max-width: 100%;
    height: auto;
}
