@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensedRegular.woff) format("woff"), url(../fonts/RobotoCondensedRegular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensedLight.woff) format("woff"), url(../fonts/RobotoCondensedLight.woff2) format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensedBold.woff) format("woff"), url(../fonts/RobotoCondensedBold.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}







