@font-face {
  font-family: Bebas;
  src: url(../fonts/BebasNeueBold.woff) format("woff"), url(../fonts/BebasNeueBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}







