mixin slider-large(data)
  .slider-large
    ul.slider-large__tags.tags
      li.tags__item.tags__item--pink
        a(href="#") новинка
      li.tags__item.tags__item--yellow
        a(href="#") хит сезона
    ul.slider-large__view.js-main-slider-lg
      li.slider-large__slide
        img(src="%=static=%img/content/product-card-large.jpg" data-zoom-image="%=static=%img/content/product-card-large-xl.jpg"  width="610" height="758" alt="куртка для девочки").zoom_01
      li.slider-large__slide
        img(src="%=static=%img/content/product-card-large.jpg" data-zoom-image="%=static=%img/content/product-card-large-xl.jpg"  width="610" height="758" alt="куртка для девочки").zoom_01
      li.slider-large__slide
        img(src="%=static=%img/content/product-card-large.jpg" data-zoom-image="%=static=%img/content/product-card-large-xl.jpg"  width="610" height="758" alt="куртка для девочки").zoom_01
      li.slider-large__slide
        img(src="%=static=%img/content/product-card-large.jpg" data-zoom-image="%=static=%img/content/product-card-large-xl.jpg"  width="610" height="758" alt="куртка для девочки").zoom_01
      li.slider-large__slide
        img(src="%=static=%img/content/product-card-large.jpg" data-zoom-image="%=static=%img/content/product-card-large-xl.jpg"  width="610" height="758" alt="куртка для девочки").zoom_01

    ul.slider-large__nav.js-nav-slider
      li.slider-large__item
        img(src="%=static=%img/content/product-card-small-1.jpg" width="120" height="150" alt="product-mini-1")
      li.slider-large__item
        img(src="%=static=%img/content/product-card-small-2.jpg" width="120" height="150" alt="product-mini-2")
      li.slider-large__item
        img(src="%=static=%img/content/product-card-small-3.jpg" width="120" height="150" alt="product-mini-3")
      li.slider-large__item
        img(src="%=static=%img/content/product-card-small-4.jpg" width="120" height="150" alt="product-mini-4")
      li.slider-large__item
        img(src="%=static=%img/content/product-card-small-4.jpg" width="120" height="150" alt="product-mini-4")

