mixin some-products(data)
  .some-products
    .container
      ul.nav.tabs
        li.tabs__item
          a(data-toggle="tab" href="#tab-1-1").active Товары в комплект
        li.tabs__item
          a(data-toggle="tab" href="#tab-1-2") Недавно смотрели
      .tabs__content
        #tab-1-1.tabs__panel.fade.in.active
          .row.justify-content-center.justify-content-sm-start
            .col-auto.col-sm-6.col-md-4.col-lg-3.col-xl-auto
              .product-card
                a(href="#").product-card__img
                  img(src="%=static=%img/content/main-card-1.jpg" width="240" height="400" alt="Коплект для девочки")
                .product-card__info
                  h3.product-card__title
                    a(href="#") Толстовка для девочки
                  p.product-card__cost 499 руб
                  ul.product__tags.tags
                    li.tags__item.tags__item--green
                      a(href="#") весна 2018

            .col-auto.col-sm-6.col-md-4.col-lg-3.col-xl-auto
              .product-card
                a(href="#").product-card__img
                  img(src="%=static=%img/content/main-card-2.jpg" width="240" height="400" alt="Коплект для девочки")
                .product-card__info
                  h3.product-card__title
                    a(href="#") Комплект для девочки
                  p.product-card__cost 2499 руб
                  ul.product__tags.tags
                    li.tags__item.tags__item--pink
                      a(href="#") весна 2018
                    li.tags__item.tags__item--green
                      a(href="#") новинка
            .col-auto.col-sm-6.col-md-4.col-lg-3.col-xl-auto
              .product-card
                a(href="#").product-card__img
                  img(src="%=static=%img/content/main-card-3.jpg" width="240" height="400" alt="Коплект для девочки")
                .product-card__info
                  h3.product-card__title
                    a(href="#") Толстовка
                  p.product-card__cost 1499 руб
                  ul.product__tags.tags
                    li.tags__item.tags__item--yellow
                      a(href="#") хит сезона
                    li.tags__item.tags__item--blue
                      a(href="#") Лучшая цена

            .col-auto.col-sm-6.col-md-4.col-lg-3.col-xl-auto
              .product-card
                a(href="#").product-card__img
                  img(src="%=static=%img/content/main-card-4.jpg" width="240" height="400" alt="Коплект для девочки")
                .product-card__info
                  h3.product-card__title
                    a(href="#") Толстовка
                  p.product-card__cost 1499 руб
                  ul.product__tags.tags
                    li.tags__item.tags__item--green
                      a(href="#") весна 2018
            .col-auto.col-sm-6.col-md-4.col-lg-3.col-xl-auto
              .product-card
                a(href="#").product-card__img
                  img(src="%=static=%img/content/main-card-5.jpg" width="240" height="400" alt="Коплект для девочки")
                .product-card__info
                  h3.product-card__title
                    a(href="#") Комплект для девочки
                  p.product-card__cost 499 руб
                  ul.product__tags.tags
                    li.tags__item.tags__item--blue
                      a(href="#") Лучшая цена

        #tab-1-2.tabs__panel.fade
          .row.no-gutters
            .col-auto.col-sm-6.col-md-4.col-lg-3.col-xl-auto
              .product-card
                a(href="#").product-card__img
                  img(src="%=static=%img/content/main-card-1.jpg" width="240" height="400" alt="Коплект для девочки")
                .product-card__info
                  h3.product-card__title
                    a(href="#") Толстовка для девочки
                  p.product-card__cost 499 руб
                  ul.product__tags.tags
                    li.tags__item.tags__item--green
                      a(href="#") весна 2018

            .col-auto.col-sm-6.col-md-4.col-lg-3.col-xl-auto
              .product-card
                a(href="#").product-card__img
                  img(src="%=static=%img/content/main-card-2.jpg" width="240" height="400" alt="Коплект для девочки")
                .product-card__info
                  h3.product-card__title
                    a(href="#") Комплект для девочки
                  p.product-card__cost 2499 руб
                  ul.product__tags.tags
                    li.tags__item.tags__item--pink
                      a(href="#") весна 2018
                    li.tags__item.tags__item--green
                      a(href="#") новинка
            .col-auto.col-sm-6.col-md-4.col-lg-3.col-xl-auto
              .product-card
                a(href="#").product-card__img
                  img(src="%=static=%img/content/main-card-3.jpg" width="240" height="400" alt="Коплект для девочки")
                .product-card__info
                  h3.product-card__title
                    a(href="#") Толстовка
                  p.product-card__cost 1499 руб
                  ul.product__tags.tags
                    li.tags__item.tags__item--yellow
                      a(href="#") хит сезона
                    li.tags__item.tags__item--blue
                      a(href="#") Лучшая цена

            .col-auto.col-sm-6.col-md-4.col-lg-3.col-xl-auto
              .product-card
                a(href="#").product-card__img
                  img(src="%=static=%img/content/main-card-4.jpg" width="240" height="400" alt="Коплект для девочки")
                .product-card__info
                  h3.product-card__title
                    a(href="#") Толстовка
                  p.product-card__cost 1499 руб
                  ul.product__tags.tags
                    li.tags__item.tags__item--green
                      a(href="#") весна 2018
            .col-auto.col-sm-6.col-md-4.col-lg-3.col-xl-auto
              .product-card
                a(href="#").product-card__img
                  img(src="%=static=%img/content/main-card-5.jpg" width="240" height="400" alt="Коплект для девочки")
                .product-card__info
                  h3.product-card__title
                    a(href="#") Комплект для девочки
                  p.product-card__cost 499 руб
                  ul.product__tags.tags
                    li.tags__item.tags__item--blue
                      a(href="#") Лучшая цена
      .some-products__footer
        a(href="#").btn.btn--sm Показать еще 20 из 40
