include ../product-card/product-card.pug

mixin novelties(data)
    section.novelties
        .container
            h2.novelties__title Новинки
            .novelties__slide
                ul.js-slider-novelties
                    li.novelties__slide
                        .product-card
                            a(href="#").product-card__img
                                img(src="%=static=%img/content/main-card-1.jpg")
                            .product-card__info
                                h3.product-card__title
                                    a(href="#") Толстовка для девочки
                                p.product-card__cost 499 руб
                                ul.product__tags.tags
                                    li.tags__item.tags__item--green
                                        a(href="#") весна 2018

                    li.novelties__slide
                        .product-card
                            a(href="#").product-card__img
                                img(src="%=static=%img/content/main-card-2.jpg")
                            .product-card__info
                                h3.product-card__title
                                    a(href="#") Комплект для девочки
                                p.product-card__cost 2499 руб
                                ul.product__tags.tags
                                    li.tags__item.tags__item--pink
                                        a(href="#") весна 2018
                                    li.tags__item.tags__item--green
                                        a(href="#") новинка
                    li.novelties__slide
                        .product-card
                            a(href="#").product-card__img
                                img(src="%=static=%img/content/main-card-3.jpg")
                            .product-card__info
                                h3.product-card__title
                                    a(href="#") Толстовка
                                p.product-card__cost 1499 руб
                                ul.product__tags.tags
                                    li.tags__item.tags__item--yellow
                                        a(href="#") хит сезона
                                    li.tags__item.tags__item--blue
                                        a(href="#") Лучшая цена

                    li.novelties__slide
                        .product-card
                            a(href="#").product-card__img
                                img(src="%=static=%img/content/main-card-4.jpg")
                            .product-card__info
                                h3.product-card__title
                                    a(href="#") Толстовка
                                p.product-card__cost 1499 руб
                                ul.product__tags.tags
                                    li.tags__item.tags__item--green
                                        a(href="#") весна 2018
                    li.novelties__slide
                        .product-card
                            a(href="#").product-card__img
                                img(src="%=static=%img/content/main-card-5.jpg")
                            .product-card__info
                                h3.product-card__title
                                    a(href="#") Комплект для девочки
                                p.product-card__cost 499 руб
                                ul.product__tags.tags
                                    li.tags__item.tags__item--blue
                                        a(href="#") Лучшая цена
