.header {
    transition: $transition-base;
    &__top {
        position: relative;
        z-index: 3;
    }
    &__inner {
        position:relative;
        display: flex;
        align-items: center;
        padding-top: 9px;
        @include media-breakpoint-up(xl) {
        }
        @include media-breakpoint-up(xl) {
            justify-content: space-between;
            padding-top: 26px;
        }
        z-index: 2;
    }
    &__burder-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        order: -2;
        width: 40px;
        height: 40px;
        margin-right: 16px;
        border: none;
        background-color: transparent;
        font-size: 0;
        span {
            @include bg($icon-burger);
        }
        @include media-breakpoint-up(xl) {
            display: none;
        }
    }
    &__select-lang {
        height: 18px;
    }
    &__location {
        margin-right: 52px;
    }
    &__preferences {
        display: none;
        align-items: center;
        flex: none;
        @include media-breakpoint-up(xl) {
            display: flex;
        }
    }
    &__logo {
        display: flex;
        flex: 1;
        justify-content: center;
        img {
            width: 97px;
            height: 28px;
            @include media-breakpoint-up(xl) {
                width: 154px;
                height: 45px;
            }
        }

    }
    &__show {
        position: relative;
        background-color: transparent;
        border: none;
        @include bg($icon-search);
        z-index: 1;
        &:focus {
            outline: none;
        }
        @include media-breakpoint-up(xl) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 14px;
        }
    }
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        transition: none;
        @include media-breakpoint-up(xl) {
            margin-right: 60px;
            &:last-child {
                margin-right: 0;
            }
        }

        &--search {
            position: static;
            order: -1;
            @include media-breakpoint-up(xl) {
                position:relative;
                margin-left: auto;
                order: 0;
            }
        }
        &--sign-in {
            display: none;
            @include bg($icon-profile);
            &:hover {
                @include bg($icon-profile-hover);
            }
            @include media-breakpoint-up(xl) {
                display: block;
            }
        }
        &--favorite {
            margin-left: auto;
            margin-right: 30px;
            @include bg($icon-favorite);
            &:hover {
                @include bg($icon-favorite-hover)
            }
            @include media-breakpoint-up(xl) {
                margin-left: auto;
                margin-right: 60px;
            }
        }
        &--cart {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position:relative;
            min-width: 15px;
            z-index: 2;
            &.has-products {
                &::before {
                    @include bg($icon-shopping-bag-hover);
                }
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                @include bg($icon-shopping-bag);
                z-index: 1;
            }
            span {
                position:relative;
                z-index: 3;
                color: #ffffff;
                font-size: 10px;
                font-weight: 300;
                line-height: 24px;
            }
        }
    }
    &__field {
        display: none;
        visibility: hidden;
        position: absolute;
        opacity: 0;
        top: 100%;
        left: 50%;
        width: 165px;
        padding-left: 45px;
        transform: translateX(-50%);
        transition: $transition-base;
        box-sizing: border-box;
        z-index: 1;
        @include media-breakpoint-up(xl) {
            display: block;
            position: static;
            transform: none;
            padding-left: 20px;
        }
        &.show {
            display: block;
            visibility: visible;
            opacity: 1;
            + .header__show {
                @include bg($icon-search-hover);
            }
        }
    }
}
