.banners {
    position: relative;
    padding-bottom: 23px;
    text-align: center;
    overflow: hidden;
    .container {
        padding: 0;
        @include media-breakpoint-up(xl) {
            padding-right: 14px;
            padding-left: 14px;
        }
    }
    @include media-breakpoint-up(md) {
        padding-bottom: 48px;
    }
    @include media-breakpoint-up(xl) {
        padding-bottom: 0;
        order: -1;
    }
    &__slide {
        position: relative;
        @include media-breakpoint-up(xl) {
            text-align: left;
        }
    }
    .slick-slide {
        width: 400px;
        display: inline-block;
        @include media-breakpoint-up(md) {
            margin-right: 5px;
            margin-left: 5px;
        }
        @include media-breakpoint-up(xl) {
            margin-right: 57px;
            margin-left: 0;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    img {
        display: inline-block;
    }
    .slick-list {
        margin-right: -14px;
        margin-left: -14px;
        text-align: left;
        font-size: 0;
        @include media-breakpoint-up(md) {
            margin-right: -28px;
            margin-left: -28px;
        }
        @include media-breakpoint-up(lg) {
            margin-right: -14px;
            margin-left: -14px;
        }
        @include media-breakpoint-up(xl) {
            margin-right: 0;
            margin-left: 0;
        }
    }
    &__buttons {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
    }
    &__link {
        min-width: 136px;
        margin-right: 9px;
        padding: 8px 20px;
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        background-color: rgba(#fff, .5);
        text-align: center;
        &:last-child {
            margin-right: 0;
        }
    }
    &__url {
        display: block;
        text-align: center;
    }
    .dots {
        bottom: 23px;
    }
    .dots .slick-dots button::before {
        @include media-breakpoint-up(md) {
            background-color: #ECEBF0;
        }
    }
}
