mixin banners(data)
    .banners
        .container
            ul.banners__slider.js-banner-slide
                li.banners__slide
                    a(href="#").banners__url
                        img(src="%=static=%img/content/banner-1.jpg" width="400" height="400" alt="скидка 25% на весеннюю коллекцию")
                li.banners__slide
                    a(href="#").banners__url
                        img(src="%=static=%img/content/banner-2.jpg" width="400" height="400" alt="бесплатная доставка по всей России")
                li.banners__slide
                    a(href="#").banners__url
                        img(src="%=static=%img/content/banner-3.jpg" width="400" height="400" alt="новая коллекция")
                    .banners__buttons
                        a(href="#").banners__link мальчики
                        a(href="#").banners__link девочки
            .dots

