mixin subscribe(data)
  .subscribe
    .container
      .subscribe__bg
        .row.no-gutters.justify-content-lg-center
          .col-lg-auto
            .subscribe__inner
              p.subscribe__label скидка за подписку 10% + бесплатная доставка
              form.subscribe__form
                input(type="email" placeholder="ваш email адрес" required).field.subscribe__field
                button.subscribe__submit.btn.btn--sm Подписаться
