mixin sizes(data)
  .sizes
    span.sizes__title Размер
    label.sizes__item
      input(type="radio" name="size-1").sizes__radio
      span 104
    label.sizes__item
      input(type="radio" name="size-1" checked).sizes__radio
      span 110
    label.sizes__item
      input(type="radio" name="size-1").sizes__radio
      span 112
    label.sizes__item
      input(type="radio" name="size-1" disabled).sizes__radio
      span 116
    label.sizes__item
      input(type="radio" name="size-1" disabled).sizes__radio
      span 122
    label.sizes__item
      input(type="radio" name="size-1" disabled).sizes__radio
      span 128
    label.sizes__item
      input(type="radio" name="size-1").sizes__radio
      span 134
    label.sizes__item
      input(type="radio" name="size-1").sizes__radio
      span 146
