mixin categories(data)
  .categories
    h2.categories__title Категории
    ul.categories__main-menu
      li.categories__item
        a(href="#").categories__link
          | Верхняя одежда
        button.categories__show-menu.js-show-submenu
        ul.categories__sublist
          li.categories__subitem
            a(href="#").categories__sublink Бижутерия
          li.categories__subitem
            a(href="#").categories__sublink Галстуки, бабочки
          li.categories__subitem.active
            a(href="#").categories__sublink Для волос
      li.categories__item
        a(href="#").categories__link
          | одежда
        button.categories__show-menu.js-show-submenu
        ul.categories__sublist
          li.categories__subitem
            a(href="#").categories__sublink Бижутерия
          li.categories__subitem
            a(href="#").categories__sublink Галстуки, бабочки
          li.categories__subitem.active
            a(href="#").categories__sublink Для волос
      li.categories__item
        a(href="#").categories__link
          | Брюки, джинсы, юбки
        button.categories__show-menu.js-show-submenu
        ul.categories__sublist
          li.categories__subitem
            a(href="#").categories__sublink Бижутерия
          li.categories__subitem
            a(href="#").categories__sublink Галстуки, бабочки
          li.categories__subitem.active
            a(href="#").categories__sublink Для волос
      li.categories__item.active
        a(href="#").categories__link
          | аксессуары
        button.categories__show-menu.js-show-submenu
        ul.categories__sublist
          li.categories__subitem
            a(href="#").categories__sublink Бижутерия
          li.categories__subitem
            a(href="#").categories__sublink Галстуки, бабочки
          li.categories__subitem.active
            a(href="#").categories__sublink Для волос
          li.categories__subitem
            a(href="#").categories__sublink Разное
          li.categories__subitem
            a(href="#").categories__sublink Ремни, подтяжки
          li.categories__subitem
            a(href="#").categories__sublink Солнцезащитные очки
      li.categories__item
        a(href="#").categories__link
          | Одежда для дома
        button.categories__show-menu.js-show-submenu
        ul.categories__sublist
          li.categories__subitem
            a(href="#").categories__sublink Бижутерия
          li.categories__subitem
            a(href="#").categories__sublink Галстуки, бабочки
          li.categories__subitem.active
            a(href="#").categories__sublink Для волос
      li.categories__item
        a(href="#").categories__link
          | Обувь
        button.categories__show-menu.js-show-submenu
        ul.categories__sublist
          li.categories__subitem
            a(href="#").categories__sublink Бижутерия
          li.categories__subitem
            a(href="#").categories__sublink Галстуки, бабочки
          li.categories__subitem.active
            a(href="#").categories__sublink Для волос
      li.categories__item
        a(href="#").categories__link
          | Новорожденные
        button.categories__show-menu.js-show-submenu
        ul.categories__sublist
          li.categories__subitem
            a(href="#").categories__sublink Бижутерия
          li.categories__subitem
            a(href="#").categories__sublink Галстуки, бабочки
          li.categories__subitem.active
            a(href="#").categories__sublink Для волос
